.main {
  padding: 0 40px;
}

.main__card-section {
  margin-top: 40px;
}

.main__weather-text {
  margin: 0;
  color: #000000;
  font-weight: 700;
  font-family: "Cabinet-Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.2;
}

.main__card-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 34px;
}
