.modal__preview-container {
  position: relative;
  width: 498px;
  height: 610px;
  background-color: #fff;
  border-radius: 16px;
}

.modal__preview-close {
  background-image: url("../../images/preview-close-icon.svg");
  width: 20px;
  height: 20px;
  position: relative;
  top: calc(4%);
  left: calc(100% - 40px);
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.modal__preview-close:hover {
  opacity: 0.6;
  transition: opacity 0.2s linear;
}

.modal__preview-image {
  width: 100%;
  margin-top: -23px;
  width: 498px;
  height: 498px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.modal__preview-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  color: #000000;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 32px;
}

.modal__preview-weather {
  margin-top: 12px;
  margin-bottom: 32px;
}

.modal__preview-delete {
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #ff4d00;
  margin-right: 22px;
}

.modal__preview-delete:hover {
  cursor: pointer;
  opacity: 0.6;
}
