.footer {
  display: flex;
  justify-content: space-between;
  font-family: "FamiljenGrotesk-Medium", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.footer_name {
  padding: 85px 0 24px 40px;
}

.footer_year {
  padding: 85px 24px 24px 0;
}
