.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 69px;
  font-family: "FamiljenGrotesk-Bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header__logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__info-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.header__username {
  padding: 0px 12px 0 0;
  cursor: pointer;
}

.header__useravatar {
  padding: 6px 0 0 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.header__button:hover:not(:disabled) {
  opacity: 0.6;
}

.header__userinfo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.header__userinfo-link:link {
  text-decoration: none;
}

.header__userinfo-link:hover {
  cursor: pointer;
  opacity: 0.6;
}

.header__signup-button {
  gap: 20px;
  background-color: #f3f3f3;
  border: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  font-style: normal;
  font-family: "FamiljenGrotesk-Bold", Arial, sans-serif;
}

.header__signup-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.header__login-button {
  gap: 20px;
  background-color: #f3f3f3;
  border: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  font-style: normal;
  font-family: "FamiljenGrotesk-Bold", Arial, sans-serif;
}

.header__login-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.header__add-button {
  gap: 20px;
  background-color: #f3f3f3;
  border: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  font-style: normal;
  font-family: "FamiljenGrotesk-Bold", Arial, sans-serif;
}
