.card__section {
  margin-top: 20px;
}
.card__container {
  display: flex;
  justify-content: center;
}
.card__name {
  text-align: center;
  position: absolute;
  top: 30px;
  max-width: 90px;
  width: 100%;
  border-radius: 4px;
  padding: 2px 12px;

  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #fff;
}
.card__image {
  width: 328px;
  height: 328px;
  border-radius: 10px;
}
.card__image:hover {
  cursor: pointer;
}
.card__items {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  gap: 17px;
  justify-content: center;
  margin-top: 34px;
}
.card {
  display: flex;
  justify-content: center;
}
