.switch {
  display: flex;
  position: relative;
}

.switch__box {
  display: flex;
  border-radius: 20px;
  appearance: none;
  cursor: pointer;
  border: 2px solid #7e7e7e;
  width: 40px;
  height: 20px;
  outline: none;
  margin: 0px;
}

.switch__slider-F {
  border-radius: 20px;
  width: 20px;
  height: 20px;
  background-color: #000;
  color: pink;
  text-align: center;
  cursor: pointer;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.switch__slider-C {
  border-radius: 20px;
  width: 20px;
  height: 20px;
  background-color: #000;
  color: pink;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0px;
  bottom: 0px;
}

.switch__slider::after {
  right: 24px;
}

.switch__temp-F {
  z-index: 100;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  margin: 0;
  top: -1px;
  right: 25px;
}

.switch__temp-C {
  z-index: 100;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0px;
  position: absolute;
  top: -1px;
  left: 25px;
}

.switch_active {
  z-index: 100;
  color: #fff;
  font-size: 15px;
}
