.clothes-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 330px;
  margin-top: -40px;
}

.clothes-section__header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.clothes-section__header-text {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.2;
  color: #000000;
  font-weight: 700;
}

.clothes-section__add-button {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
  cursor: pointer;
}

.clothes-section__add-button:hover {
  cursor: pointer;
  opacity: 0.4;
}

.clothes-section__cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
